<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Mi Página{% endblock %}</title>

  {% block CSS %}
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/sandstone/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% endblock %}
</head>

<body>

  <!-- Sidebar -->
  <div class="sidebar" id="sidebar">
    <div class="sidebar-header">
      <a class="navbar-brand text-white" href="{{ url_for('home.home') }}"></a>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('home.home') }}">
          <i class="fas fa-home"></i> Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home.chatbot_pagina') }}">
          <i class="fas fa-comments"></i> ChatBot
        </a>
      </li>
      {% if 'loggedin' in session %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.profile') }}">
            <i class="fas fa-user"></i> Perfil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home.formulario') }}">
            <i class="fas fa-file-alt"></i> Formulario
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home.transformar_cargarPage') }}">
            <i class="fas fa-sync-alt"></i> Transformar Datos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home.cargar_datosPage') }}">
            <i class="fas fa-upload"></i> Cargar Datos
          </a>
        </li>
      {% endif %}
    </ul>
    <ul class="nav flex-column mt-auto">
      {% if not 'loggedin' in session %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.register') }}">
            <i class="fas fa-user-plus"></i> Registro
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.login') }}">
            <i class="fas fa-sign-in-alt"></i> Iniciar sesión
          </a>
        </li>
      {% else %}
        {% if session['rol'] == 'Admin' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home.ultimas_predicciones') }}">
              <i class="fas fa-chart-line"></i> Últimas Predicciones
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home.descargar_ReportePage') }}">
              <i class="fas fa-download"></i> Reporte
            </a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">
            <i class="fas fa-sign-out-alt"></i> Cerrar sesión
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
<!-- Zona de hover en el borde izquierdo -->
<div id="sidebar-hover-zone"></div>

<!-- Toggle Button for Mobile -->
<div class="mobile-nav">
  <button id="sidebarToggle" class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar"
          aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>
</div>


  <section class="main-section d-flex align-items-center justify-content-center min-vh-100">
    <div class="container py-5">
      {% block body %}
      {% endblock %}
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-dark text-white text-center py-3 mt-5">
    <p class="mb-0">&copy; Todos los derechos reservados.</p>
  </footer>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
  {% block scripts %}
  <script src="{{ url_for('static', filename='js/animations.js') }}"></script>
  {% endblock %}
</body>

</html>